{% extends 'base.html.twig' %}

{% block title %}Hello PropertiesController!{% endblock %}

{% block body %}
<div class="container">

    <h2>{{ property.name }}</h2>
    <p>{{ property.description }}</p>

    {% for image in property.images %}
        <div class="col-4">
            <img src="{{ vich_uploader_asset(image, 'imageFile')|imagine_filter('vignette') }}" alt="">
        </div>
    {% endfor %}


    <h3>{{ property.name }} est équipée de : </h3>

    {% for equipment in property.equipments %}
        <p>{{ equipment.name }}</p>
    {% endfor %}
</div>



    {% if property.profile.id == app.user.profile.id %}
        <h4>Reservations :</h4>
        {% if property.reservation %}
            <p>L'utilisateur appelé {{ property.reservation.profile.name }} a reservé votre propriété pour le</p>
            <p>{{ property.reservation.bookStart|date("m/d/Y") }} jusqu'au {{ property.reservation.bookEnd|date("m/d/Y") }}</p>

            <a href="{{ path('app_reservation_deleteReservation', {id:property.reservation.id}) }}" class="btn btn-danger">supprimer la réservation</a>

        {% endif %}
        {% else %}
            <a href="{{ path('app_reservation', {id:property.id}) }}" class="btn btn-success">Réserver {{ property.name }}</a>
    {% endif %}
{% endblock %}
